.project-class {
  display: none;
}

[data-title] {
  position: relative;
}
[data-title]:hover::before {
  content: attr(data-title);
  position: absolute;
  background-color: #000;
  color: #fff;
  white-space: nowrap;
  bottom: -30px;
  left: -0px;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 2px;
  z-index: 10;
}
[data-title]:hover::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 8px;
  display: inline-block;
  color: #fff;
  border: 8px solid transparent;
  border-bottom: 8px solid #000;
  z-index: 10;
}
.p-card {
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.03),
    -5px 0px 10px rgba(0, 0, 0, 0.03), 0 10px 30px rgba(0, 0, 0, 0.03),
    0 -10px 30px rgba(0, 0, 0, 0.03) !important;
}
.p-card:hover {
  box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.04),
    -5px 0px 20px rgba(0, 0, 0, 0.04), 0 10px 25px rgba(0, 0, 0, 0.09) !important;
}
.p-img-wrapper {
  width: 90%;
  overflow: hidden;
}
.p-overlay {
  top: -100%;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 2;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  border-bottom: 5px solid #fff;
}
.card:hover div div span.p-overlay {
  top: 0%;
  opacity: 1;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
.p-preview {
  top: 0%;
  height: 100%;
  width: 100%;
  z-index: 3;
  visibility: hidden;
  animation: swipeUp 0.5s ease-in-out 0.1s;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
}
.p-preview .details-link {
  background: linear-gradient(45deg, #0a0a0a, #6d4dd9);
  text-decoration: none !important;
  cursor: pointer;
}
.p-preview .details-link:hover {
  background: linear-gradient(45deg, #369cff, #664dd9);
}
.card:hover div div div.p-preview {
  visibility: visible;
  opacity: 1;
  animation: swipeDown 0.5s ease-in-out 0.1s forwards;
}

@keyframes swipeDown {
  0% {
    opacity: 0;
    transform: translateY(-200%);
  }

  80% {
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes swipeUp {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(-200%);
  }
}

a.details-link:focus {
  outline: 0 !important;
  box-shadow: none;
}

.js-theme {
  background-color: #f7e018;
  color: #000;
}
.py-theme {
  background-color: #306998;
  color: #fff;
}
.html-theme {
  background-color: #e34c26;
  color: #fff;
}
.css-theme {
  background-color: #0f5298;
  color: #fff;
}
.dj-theme {
  background-color: #092d1f;
  color: #fff;
}
.ang-theme {
  background-color: #c3002f;
  color: #fff;
}
.react-theme {
  background-color: #5ed3f3;
  color: #fff;
}

.modal.fade .modal-dialog {
  transform: scale(0.1);
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.modal.show .modal-dialog {
  transition: all 0.4s ease-in-out;
  opacity: 1;
  transform: scale(1);
}
.modal-close-btn {
  outline: none;
}
.modal-close-btn:focus {
  outline: none;
}
.modal-close-btn:hover {
  color: #dc3545;
}
.modal-close {
  background: linear-gradient(45deg, #0a0a0a, #6d4dd9);
  padding: 0 20px;
}
.modal-close:hover {
  background: linear-gradient(45deg, #369cff, #664dd9);
}
.modal-close:focus {
  box-shadow: none !important;
}

.modal-body .card {
  overflow: hidden;
}

.modal-img .card-img {
  max-width: 90% !important;
  display: block;
  margin: 20px;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.03),
    -5px 0px 10px rgba(0, 0, 0, 0.03), 0 10px 30px rgba(0, 0, 0, 0.03),
    0 -10px 30px rgba(0, 0, 0, 0.03) !important;
}
.modal-img {
  background-color: #fff;
  z-index: 0;
  animation: modalSwapLeft 1s cubic-bezier(0.4, 0, 0.2, 1) 0.2s forwards;
}
.m-card-body {
  background-color: #fff;
  z-index: 1;
  animation: modalSwapRight 1s cubic-bezier(0.4, 0, 0.2, 1) 0.2s forwards;
}
.project-feature {
  font-weight: 300 !important;
}

@keyframes modalSwapLeft {
  0% {
    transform: translateX(-50%);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes modalSwapRight {
  0% {
    transform: translateX(50%);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0%);
  }
}

@media screen and (min-width: 992px) {
  .modal-img .card-img {
    max-width: 75% !important;
    display: block;
    margin: 30px auto;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.03),
      -5px 0px 10px rgba(0, 0, 0, 0.03), 0 10px 30px rgba(0, 0, 0, 0.03),
      0 -10px 30px rgba(0, 0, 0, 0.03) !important;
  }
}

@media screen and (max-width: 576px) {
  .social-icons {
    display: none !important;
  }
  .fixed-s-i {
    display: block !important;
  }
}
