body,
ul {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}
.wrapper {
  display: flex;
  position: relative;
  min-height: 130vh;
  width: 100%;
}
.header,
.footer {
  position: absolute;
  width: 100%;
  color: #fff;
  text-align: center;
  line-height: 90px;
  height: 90px !important;
  background: linear-gradient(90deg, #1ab1ff, #2a349d, #a4238f);
}
.header {
  top: 0;
}

.footer {
  bottom: 0;
}
.footer a {
  color: #ffffff;
  font-weight: 600;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-self: center;
}

.content-wrapper,
.crane {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px;
  padding-top: 20px;
}

.content div {
  width: 100%;
  text-align: center;
}

.big-text {
  color: #3c4ea3;
  font-size: 45px;
  font-weight: 500;
  text-align: center;
  width: 100%;
}

.timer {
  display: inline-flex;
  list-style-type: none;
  color: #2ba7df;
  margin-top: 5px;
}
.timer > li {
  margin: 0 15px;
}

.timer .number {
  font-size: 50px;
  line-height: 40px;
  font-family: "Courier New", monospace;
}
.timer .text {
  font-size: 15px;
  text-align: center;
}

.comming-soon-bar {
  min-width: 390px;
  margin-top: 60px;
  line-height: 20px;
  color: #fff;
  border-radius: 14px;
  background: linear-gradient(45deg, #1ab1ff, #2a349d, #a4238f);
}

.comming-soon-bar marquee {
  position: relative;
  top: 3px;
}

/* Medium devices (tablets, 992px and lowwe */
@media screen and (max-width: 992px) {
  .wrapper {
    min-height: 200vh;
  }
  .content-wrapper,
  .crane {
    width: 100%;
  }
  .comming-soon-bar {
    width: 60% !important;
  }
}

/* Small devices (landscape phones, 576px and lower) */
@media screen and (max-width: 576px) {
  .wrapper {
    width: 135%;
  }
}
